name: External_Exposure-Scan-WebApp

on:
  # push:
  #  branches:
  #    - main
  workflow_dispatch:
    inputs:
      APP_URL:
        description: 'URL of the web application to attack'
        required: true
        default: '<CHANGE ME>'


jobs:
    scan-job:
        runs-on: ubuntu-latest
          
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Scan Web Application to find vulnerabilities
              run: |
                docker run chrisley75/sstimap:1.0.3 \
                  -u "${{ github.event.inputs.APP_URL }}page?name=attack"